<!DOCTYPE html>
<html lang="en">
  {%- set pageTitle %}
  {% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
  {%- set pageDescription %}
  {% if description %}{{ description }}
  {% else %}{{ meta.siteDescription }}
  {% endif %}{% endset -%}

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content="eleventy"/>

    <title>{{ pageTitle }}</title>

    <meta name="description" content="{{ pageDescription }}"/>
    <link rel="icon" href="{{ meta.favicon }}" type="image/svg+xml"/>
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet"/>
    <link href="{{ meta.siteUrl }}" rel="canonical"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ pageTitle }}"/>
    <meta property="og:site_name" content="{{ meta.siteName }}">
    <meta property="og:description" content="{{ pageDescription }}"/>
    <meta property="og:url" content="{{ meta.siteUrl }}{{ page.url }}">

    {% if meta.siteImage %}
    <meta property="og:image" content="{{ meta.siteImage }}" />
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ meta.siteName }}" href="/feed/"/>
  </head>
  <body>

    {{ content | safe }}
    
    {# --- Footer --- #}
    <footer class="tdbc-background--secondary">
      <div class="tdbc-container tdbc-text-align-center">
        <div class="tdbc-row tdbc-ink--light tdbc-mx-auto">
          <p class="tdbc-mb-none">&copy; {% year %}
            {{ meta.siteName }}</p>
        </div>
      </div>
    </footer>
  </body>
</html>